[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/tsudakageyu/minhook
[submodule "vendor/sc4-dll-utilities"]
	path = vendor/sc4-dll-utilities
	url = https://github.com/0xC0000054/sc4-dll-utilities
